.wrap-about img{
    width: 100%;
    display: block;
}
.silderPic{
    padding: 2%;
}
.title{
    font-size: 30px;
    font-weight: 800;
    color: #02b2b5;
    padding-bottom: 20px;
}
.title i{
    padding-left: 15px;
    color: red;
}
.team{
    margin-top: 5%;
}
