.team{
    margin-top: 7%;
}
.titleH{
    font-size: 25px;
    color: #333;
    text-align: left;
    margin: 5px 0 5px 0;
}
.root{
    font-size: 13px;
    color: #adadad;
    padding: 30px 0;
    border-bottom:1px solid #F0EFEF;
}
.titleImg{
    margin: 2% auto 2%;
}
.titleImg img{
    width: 100%;
    display: block;
    border:0;
}
.headTitle{
    font-size:30px;
    text-align: center;
}
.honor{
    line-height:32px;
    color: #666666;
}
.section1{
    text-indent:40px;
    color:#7030A0;
    font-size:20px;
    position:relative;
    top:-4px;
}
.section2{
    line-height:32px;
    text-align:center;
    color:#666666;
    letter-spacing:0px;
    font-size:20px;
}
.initiator{
    line-height:32px;
    color:#666666;
    text-align:right;
    margin-right:32px;
}
.initialTime{
    line-height:32px;
    text-align:right;
    color:#666666;
    font-size:20px;
}
.line2{
    border: 1px dashed #f0efef;
    border-bottom: 0;
    margin: 20px 0;
}
.share{
    margin: 27px auto 50px;
}
.share a{
    color: #666;
    font-size: 14px
}
.detailNext{
    font-size: 13px;
    color: #666;
    margin-right: 30px;
}
.shareTag{
    float: right;
    display: block;
    font-size: 13px;
    color: #666;
    padding-top: 10px;
}
.shareT{
    overflow: hidden;
}
.shareIcon{
    width: 33px;
    height: 33px;
    margin: 0 0 12px 12px;
    float: right;
    display: block;
    background-color: #fff;
}
.weixin{
    background: url(../img/vbg01.png) -1302px -100px no-repeat;
}
.sina{
    background: url(../img/vbg01.png) -1302px -190px no-repeat;
}
.space{
    background: url(../img/vbg01.png) -1302px -235px no-repeat;
}
.douban{
    background: url(../img/vbg01.png) -1302px -730px no-repeat;
}
.tieba{
    background: url(../img/vbg01.png) -1302px -595px no-repeat;
}